* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'UbuntuBold';
    src: url(/fonts/Ubuntu-Bold.ttf);
}
@font-face {
    font-family: 'UbuntuRegular';
    src: url(/fonts/Ubuntu-Regular.ttf);
}


body {
    background-color: #D0D0D0;
}

span {
    text-align: center;
}

button, select {
    cursor: pointer;
}


::-webkit-scrollbar {
    width: 7px;
    background: #D0D0D0;
    border: 1px solid #A6A6A6;
    border-radius: 0px 4px 4px 0px;
}

::-webkit-scrollbar-thumb {
    width: 7px;
    background: #A6A6A6;
    border-radius: 50px;
}


::placeholder {
    font-family: 'UbuntuRegular';
    font-size: 18px;
    color: #ACACAC;
}


.default-button {
    background-color: #EEEEEE;
    border: 1px solid #949494;
    box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    height: 38px;

    transition: background-color 0.5s ease 0s;
}
.default-button:hover {
    background-color: #ffffff;
}

.default-button div, .outlined-button div {
    display: flex;
}

.default-button hr, .outlined-button hr {
    width: 0px;
    height: 25px;
    border: 1px solid #102A49;
}

.default-button img {
    margin: 0 10px;
    width: 24px;
    height: 24px;
}

.default-button span, .outlined-button span {
    font-family: 'UbuntuRegular';
    font-size: 20px;
    margin: 0 10px;
    color: #102A49;
    display: flex;
    align-items: center;
}


.outlined-button {
    background-color: transparent;
    border: none;
    border-radius: 6px;
    padding: 5px;

    transition: box-shadow 0.5s ease 0s;
}
.outlined-button:hover {
    box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.25);
}

.outlined-button img {
    margin: 0 10px;
    width: 24px;
    height: 24px;
}


.text-button {
    background: transparent;
    border: none;
    font-family: 'UbuntuRegular';
    font-size: 20px;
    color: #5C5C5C;

    transition: scale 0.5s ease 0s;
}
.text-button:hover {
    scale: 1.05;
}


.icon-button {
    width: 35px;
    height: 35px;

    transition: scale 0.5s ease 0s;
}
.icon-button:hover {
    scale: 1.05;
}


.input-div, .small-input-div {
    outline: none;
    border: 1px solid #C7C7C7;
    border-radius: 6px;
    background-color: #E9E9E9;
}

.input-div input:hover, .small-input-div input:hover {
    cursor: text;
}

.input-div {
    height: 45px;
    padding: 10px;
}

.input-div input {
    background-color: transparent;
    border: none;
    outline: none;

    width: 100%;

    font-family: 'UbuntuRegular';
    font-size: 20px;
}

.input-div input[type="image"] {
    width: 24px;
    height: 24px;
    margin-left: 10px;
    cursor: pointer;
}

.small-input-div {
    width: 120px;
    height: 30px;
    margin: 5px;
    padding: 5px;
}

.small-input-div input {
    background-color: transparent;
    border: none;
    outline: none;

    width: 100%;

    font-family: 'UbuntuRegular';
    font-size: 18px;
}

.small-input-div input[type="image"] {
    width: 20px;
    height: 20px;
    margin-left: 5px;
    cursor: pointer;
}


input[type="checkbox"] {
    width: 15px;
    height: 15px;
}


.default-select {
    background: #EEEEEE;
    border: 1px solid #C7C7C7;
    border-radius: 6px 0px 0px 6px;
}

.default-select select {
    border: none;
    background-color: transparent;
    padding: 10px;

    font-family: 'UbuntuRegular';
    font-size: 20px;
    color: #102A49;
}




.default-block {
    width: 80%;
    margin: 20px;
    background-color: #FFFFFF;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
}
.default-block:first-of-type {
    border-radius: 6px 6px 0 0;
}
.default-block:last-of-type {
    border-radius: 0 0 6px 6px;
}

.account-info {
    padding: 24px 34px;
}

.group-div {
    display: flex;
    align-items: center;
}

.content-block {
    display: block;
    width: 100%;
    margin: 20px;
}

.center-content-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.space-between-div {
    display: flex;
    justify-content: space-between;
}


.top-panel {
    position: fixed;
    top: 0;
    height: 55px;
    padding: 15px 30px;
    
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px 0px 40px 40px;
    
    align-items: center;
}

.top-panel-spacer {
    height: 55px;
}

.top-panel .group-div {
    font-family: 'UbuntuRegular';
    font-size: 20px;
    color: #780000;
    margin-right: 60px;
}

.top-panel #questionsNumber {
    margin-left: 5px;
}


#addTestButton {
    margin-bottom: 20px;
}


.list-div {
    min-height: 100px;
    max-height: 70vh;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}


.test, .student {
    border-width: 1px 0px;
    border-style: solid;
    border-color: #A6A6A6;

    min-height: max-content;
    padding: 20px;

    display: flex;
    justify-content: space-between;

    transition: background 0.5s ease 0s; 
}
.test:hover, .student:hover {
    background: #EEF6FF;
}

.test-name {
    font-family: 'UbuntuRegular';
    font-size: 24px;
    color: #102A49;
}

.test-max-mark {
    font-family: 'UbuntuRegular';
    font-size: 20px;
    color: #868686; 
}

.test-description {
    font-family: 'UbuntuRegular';
    font-size: 20px;
    color: #BABABA;
}

.test-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.test-actions {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.test-params .input-div, .questionPanel .input-div {
    margin-top: 10px;
    margin-bottom: 25px;
    width: 60vw;
}

.main-params {
    font-family: 'UbuntuBold';
    font-size: 24px;
    color: #5C5C5C;
}

.horizontal-test-params {
    width: 65vw;
}

.horizontal-test-params hr {
    width: 0px;
    height: 130px;
    border: 1px solid #102A49;
}

.horizontal-test-params span {
    font-family: 'UbuntuRegular';
    font-size: 20px;
    color: #868686;
}

.horizontal-test-params .center-content-div {
    width: 25%;
    margin: 15px 0;
    justify-content: space-evenly;
}



#noOneTest {
    font-family: 'UbuntuRegular';
    color: #BABABA;
    margin: auto;
}

#username {
    font-family: 'UbuntuBold';
    font-size: 24px;
    display: flex;
    margin-left: 100px;
    align-items: center;
    color: #5C5C5C;
}


.questionNumber {
    font-family: 'UbuntuBold';
    font-size: 24px;
    color: #102A49;
}


.incorrectAnswerPanel .icon-button {
    width: 30px;
    height: 30px;
}

#addIncorrectAnswerButton {
    margin-top: 35px;
    margin-bottom: 50px;
}


#addQuestionButton {
    margin-top: 35px;
    margin-bottom: 100px;
}


.search-panel {
    width: 60vw;
}

.search-panel .input-div {
    width: 100%;
    margin-left: 5px;
    background: #E9E9E9;
    border: 1px solid #C7C7C7;
    border-radius: 0px 6px 6px 0px;
}

.search-panel ::placeholder {
    color: #636F7C;
    font-size: 20px;
}


.radio-select {
    font-family: 'UbuntuRegular';
    font-size: 20px;
    color: #5C5C5C;
}

.radio-select input {
    appearance: none;
}

.radio-select label {
    color: #868686;
    margin: 0 15px;
    transition: text-shadow 0.5s ease 0s;
}

.radio-select label:hover {
    text-shadow: 0 0 20px #868686;
    cursor: pointer;
}

.radio-select input[type="radio"]:checked + .radio-label {
    color: #5C5C5C;
}

.vert-line {
    width: 0px;
    height: 35px;
    border: 1px solid #102A49;
}


.students-list {
    font-family: 'UbuntuRegular';
    height: 50vh;
}

.student {
    align-items: center;
}

.user-full-name {
    gap: 10px;
    flex-wrap: wrap;

    font-size: 24px;
    color: #102A49;
}

.student .space-between-div {
    align-items: center;
}

.student .group {
    width: 150px;
    margin-right: 90px;
    font-size: 20px;
    color: #868686;
}


.type-select {
    margin-bottom: 30px;
}


.group-actions-div {
    margin-top: 60px;
    margin-bottom: 10px;
}

.group-actions-div button {
    border-radius: 0 6px 6px 0;
    border: 1px solid #C7C7C7;
    margin-left: 10px;
    padding: 10px;
    height: 46px;
    font-family: 'UbuntuRegular';
    font-size: 20px;
    color: #102A49;
    transition: background-color 0.5s ease 0s;
}

.group-actions-div button:hover {
    background-color: #dbdbdb;
}

.group-actions-div .center-button {
    border-radius: 0;
}


.sort-div {
    gap: 10px;
    font-family: 'UbuntuRegular';
    font-size: 20px;
    color: #5C5C5C;
    margin-bottom: 30px;
}




.correctAnswer {
    background-color: green;
}

.uncorrectAnswer {
    background-color: red;
}